<html>
  <head>
    <style>
      body {
        <% if message =~ /^Way/ %>
          background: red;
        <% elsif message =~ /^Too/ %>
          background: salmon;
        <% elsif message =~ /right/ %>
          background: green;
        <% end %>
        }
    </style>
  </head>
  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <p>
      <%= message %>
      <%= "The SECRET NUMBER is #{number}." if message =~ /right/ || cheat_mode %>
      <%= "<br><br>Game over. You ran out of guesses. The SECRET NUMBER was #{number}." if game_over && message !~ /right/ %>
      <br><br>
      <%= "Play again by guessing the new secret number." if message =~ /right/ || game_over %>
    </p>
  </body>
</html>
